<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            "
       default-lazy-init="true">

    <!--
        In order to using in spring environment , you must provide dataSource and userContextProvider bean first.
        And add the following config (modify expression attribute of pointcut to fit your application):
    -->
    <!--
        <aop:config>
            <aop:pointcut id="cbamPtCt" expression="execution(* com.company.project.service.*.*(..))" />
            <aop:aspect ref="cbamServiceAspect">
                <aop:around method="invoke" pointcut-ref="cbamPtCt"/>
            </aop:aspect>
        </aop:config>
    -->

    <!--CBAM system configuration-->
    <bean id="cbamDao" class="org.cbam.core.meta.impl.JdbcDAOImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="cbamPermissionEvaluator" class="org.cbam.core.parser.DefaultPermissionEvaluator"/>

    <bean id="cbamService" class="org.cbam.core.impl.CBAMServiceImpl">
        <constructor-arg ref="cbamPermissionEvaluator"/>
        <constructor-arg ref="cbamDao"/>
    </bean>

    <bean id="flowHandler" class="org.cbam.core.impl.CoreFlowHandler" >
        <constructor-arg ref="cbamService" />
        <constructor-arg ref="userContextProvider"/>
    </bean>

    <bean id="cbamServiceAspect" class="org.cbam.spring.ServiceAroundAspect" >
        <constructor-arg ref="flowHandler"/>
    </bean>

    <aop:config>
        <aop:pointcut id="cbamPtCt" expression="#{cbamUtil['pointCutExpression']}" />
        <aop:aspect ref="cbamServiceAspect">
            <aop:around method="invoke" pointcut-ref="cbamPtCt"/>
        </aop:aspect>
    </aop:config>


</beans>